/* Homepage/general CSS */

body {
	background-color: white;
	color: black;
	font-family: Verdana;
	image-rendering: crisp-edges;
	background-size: 100%;
	text-align: center;
	background-image: url('bg.jpg');
}

img {
	border-style: solid;
	border-width: 5px;
	box-sizing: border-box;
}

hr {
	border: 10px dashed black;
}

h1 {
	font-size: 48px;
}

p {
	font-size: 16px;
}

/* Top section with main info and buttons */
#headDiv {
	/*background-color:grey;*/
	display: flex;
	justify-content: center;
}

/* Artist picture and info text container.
Text is contained in a sub-container in order to allow the artist pic to be center-aligned. */
#infoDiv {
	width:25%;
	margin: 5px;
	text-align: center; /* Used for the image only */
} /* Text paragraph */
#desc {
	font-size: 24px;
}

/* Container for all link buttons */
#buttonDiv {
	/*background-color:lightpink;*/
	margin: 5px;
	width:25%;
	display: flex;
	flex-direction: column;
} /* Individual button: <a> tag */
.button {
	padding: 10px;
	margin: 5px;
	
	text-decoration: none;
	font-size: 20px;
	color: black;
	text-align: center;
	
	width:100%;
	border-style: solid;
	border-width: 5px;
	
	background-color: white;
} /* Individual button: <div> tag inside <a> */
.buttonInnerDiv {
	display: flex;
	justify-content: space-between;
	align-items:center;
} /* Button icons on each horizontal end */
.buttonIcon {
	vertical-align:middle;
	border-width: 1px;
	width: 10%;
} /* Alternate button class */
.bd {
	padding: 10px;
	margin: 5px;
	
	text-decoration: none;
	font-size: 20px;
	color: black;
	text-align: center;
	
	width:100%;
	border-style: dashed;
	border-width: 5px;
	
	background-color: white;
}

/* Latest section */
#latest {
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	margin: 1px;
	width:25%;
	flex-direction: column;
	*/
} /* Release sub-section */
.latestRelease {
	width: 30%;
	text-align: center;
	/*
	text-align: right;
	justify-content: flex-end;
	background-color:lightpink;
	*/
} /* Cover art for latest release section */
.latestCover {
	width: 45%;
} /* Teaser sub-section */
#latestTeaser {
	width: 30%;
	text-align: center;
	/*
	text-align: left;
	justify-content: flex-start;
	background-color:LightSkyBlue;
	*/
}

/* Subpage button section */
.subSection {
	display: flex;
	justify-content: center;
	flex-direction: row;
	
	width:100%;
} /* Individual button */
.subButton {
	width:25%;
	padding: 10px;
	margin: 5px;
	
	text-decoration: none;
	font-size: 20px;
	color: black;
	text-align: center;
	
	border-style: solid;
	border-width: 5px;
	
	background-color: white;
}

/* Tomaroen colors for highlights and buttons */
.faas {background-color: orange;}
.slaa {background-color: MediumOrchid;}
.lii  {background-color: green;}
.daw  {background-color: red;}
.ray  {background-color: yellow;}
.may  {background-color: blue;}
.sor  {background-color: lime;}
.laug {background-color: magenta;}
.faph {background-color: maroon;}
.iis  {background-color: saddlebrown;}
.tiib {background-color: orangered;}
.dol  {background-color: dodgerblue;}
.reyn {background-color: greenyellow;}
.semi {background-color: rgba(50,50,50,255);}
.demi {background-color: dimgrey;}
.hemi {background-color: white;}
.tiik {background-color: springgreen;}
.maak {background-color: cyan;}
.tuuk {background-color: darkblue;}
/* Alternate hover colors */
.H-faas:hover {background-color: orange;}
.H-slaa:hover {background-color: MediumOrchid;}
.H-lii:hover  {background-color: green;}
.H-daw:hover  {background-color: red;}
.H-ray:hover  {background-color: yellow;}
.H-may:hover  {background-color: blue;}
.H-sor:hover  {background-color: lime;}
.H-laug:hover {background-color: magenta;}
.H-faph:hover {background-color: maroon;}
.H-iis:hover  {background-color: saddlebrown;}
.H-tiib:hover {background-color: orangered;}
.H-dol:hover  {background-color: dodgerblue;}
.H-reyn:hover {background-color: greenyellow;}
.H-semi:hover {background-color: rgba(50,50,50,255);}
.H-demi:hover {background-color: dimgrey;}
.H-hemi:hover {background-color: white;}
.H-tiik:hover {background-color: springgreen;}
.H-maak:hover {background-color: cyan;}
.H-tuuk:hover {background-color: darkblue;}
/* Faded color variants */
.F-faas {background-color: burlywood;}
.F-slaa {background-color: plum;}
.F-lii  {background-color: mediumseagreen;}
.F-daw  {background-color: lightcoral;}
.F-ray  {background-color: peachpuff;}
.F-may  {background-color: lightsteelblue;}
.F-sor  {background-color: palegreen;}
.F-laug {background-color: violet;}
.F-faph {background-color: rosybrown;}
.F-iis  {background-color: #BF945F;}
.F-tiib {background-color: darksalmon;}
.F-dol  {background-color: lightskyblue;}
.F-reyn {background-color: olive;}
.F-semi {background-color: grey;}
.F-demi {background-color: darkgrey;}
.F-hemi {background-color: lightgrey;}
.F-tiik {background-color: Aquamarine;}
.F-maak {background-color: lightblue;}
.F-tuuk {background-color: #7BA6C6;}
/* Text color */
.C-faas {color: orange;}
.C-slaa {color: MediumOrchid;}
.C-lii  {color: green;}
.C-daw  {color: red;}
.C-ray  {color: yellow;}
.C-may  {color: blue;}
.C-sor  {color: lime;}
.C-laug {color: magenta;}
.C-faph {color: maroon;}
.C-iis  {color: saddlebrown;}
.C-tiib {color: orangered;}
.C-dol  {color: dodgerblue;}
.C-reyn {color: greenyellow;}
.C-semi {color: rgba(50,50,50,255);}
.C-demi {color: dimgrey;}
.C-hemi {color: white;}
.C-tiik {color: springgreen;}
.C-maak {color: cyan;}
.C-tuuk {color: darkblue;}