/* Discog CSS */

body {
	background-color: white;
	color: black;
	font-family: Verdana;
	image-rendering: crisp-edges;
	background-size: 100%;
	text-align: center;
	background-image: url('bg.jpg');
}

img {
	border-style: solid;
	border-width: 5px;
	box-sizing: border-box;
}

hr {
	border: 10px dashed black;
}

h1 {
	font-size: 48px;
}

p {
	font-size: 16px;
}

/* All Releases section */
#discogGrid {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
	/* Borders and lines, Background is handled by .discogItem */
	gap: 1px;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.5);
} /* Grid item */
.discogItem {
	padding: 10px 10px;
	text-align: center;
	
	border-style: solid;
	border-width: 5px;
} /* Style override for top row discogItems */
.discogCol {
	padding: 20px 10px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.5);
	/*
	padding: 20px 25px;
	*/
} /* Cover art images */
.discogArt {
	vertical-align:middle;
	border-width: 5px;
	width: 100%;
}

/* Tomaroen colors for highlights and buttons */
.faas {background-color: orange;}
.slaa {background-color: MediumOrchid;}
.lii  {background-color: green;}
.daw  {background-color: red;}
.ray  {background-color: yellow;}
.may  {background-color: blue;}
.sor  {background-color: lime;}
.laug {background-color: magenta;}
.faph {background-color: maroon;}
.iis  {background-color: saddlebrown;}
.tiib {background-color: orangered;}
.dol  {background-color: dodgerblue;}
.reyn {background-color: greenyellow;}
.semi {background-color: rgba(50,50,50,255);}
.demi {background-color: dimgrey;}
.hemi {background-color: white;}
.tiik {background-color: springgreen;}
.maak {background-color: cyan;}
.tuuk {background-color: darkblue;}
/* Alternate hover colors */
.H-faas:hover {background-color: orange;}
.H-slaa:hover {background-color: MediumOrchid;}
.H-lii:hover  {background-color: green;}
.H-daw:hover  {background-color: red;}
.H-ray:hover  {background-color: yellow;}
.H-may:hover  {background-color: blue;}
.H-sor:hover  {background-color: lime;}
.H-laug:hover {background-color: magenta;}
.H-faph:hover {background-color: maroon;}
.H-iis:hover  {background-color: saddlebrown;}
.H-tiib:hover {background-color: orangered;}
.H-dol:hover  {background-color: dodgerblue;}
.H-reyn:hover {background-color: greenyellow;}
.H-semi:hover {background-color: rgba(50,50,50,255);}
.H-demi:hover {background-color: dimgrey;}
.H-hemi:hover {background-color: white;}
.H-tiik:hover {background-color: springgreen;}
.H-maak:hover {background-color: cyan;}
.H-tuuk:hover {background-color: darkblue;}
/* Faded color variants */
.F-faas {background-color: burlywood;}
.F-slaa {background-color: plum;}
.F-lii  {background-color: mediumseagreen;}
.F-daw  {background-color: lightcoral;}
.F-ray  {background-color: peachpuff;}
.F-may  {background-color: lightsteelblue;}
.F-sor  {background-color: palegreen;}
.F-laug {background-color: violet;}
.F-faph {background-color: rosybrown;}
.F-iis  {background-color: #BF945F;}
.F-tiib {background-color: darksalmon;}
.F-dol  {background-color: lightskyblue;}
.F-reyn {background-color: olive;}
.F-semi {background-color: grey;}
.F-demi {background-color: darkgrey;}
.F-hemi {background-color: lightgrey;}
.F-tiik {background-color: Aquamarine;}
.F-maak {background-color: lightblue;}
.F-tuuk {background-color: #7BA6C6;}